@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
  min-height: 100vh;
}

.navbar {
  background: #0a2558 !important;
  left: 290px;
  right: 0;
  position: fixed !important;
  z-index: 2;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#sidebarCollapse {
  display: none;
}

.profile-details {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0a2558;
  border: 2px solid #031330;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
  color: #fff;
}

.profileDetails {
  display: none;
}

.greet-text {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  min-width: 290px;
  max-width: 290px;
  position: fixed;
  height: 100%;
  background: #0a2558;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -290px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #0a2558;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
  text-decoration: none;
  color: #fff;
}

#sidebar ul li a:hover {
  color: #fff;
  background: #021436;
  text-decoration: none;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #021436;
}

#sidebar ul li i {
  min-width: 30px;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}

.log_out {
  position: absolute;
  bottom: 0;
  width: 290px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.home-content {
  background: #f5f5f5;
  left: 290px;
  position: relative;
  padding: 80px;
  min-height: 100vh;
  width: calc(100% - 290px);
}

.selection-header h4 {
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 700;
}

.table-button {
  color: #fff;
  padding: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-weight: 500;
  background: #0c3b92;
  cursor: pointer;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -290px;
    padding-top: 5rem;
  }

  #sidebar.active {
    margin-left: 0;
    min-width: -webkit-fill-available;
    min-height: 100vh;
  }

  #content.active {
    display: none;
  }

  .home-content {
    left: 0;
    width: 100vw;
    padding-top: 85px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }

  .navbar {
    left: 0;
  }

  #content.active {
    display: none;
  }

  #sidebarCollapse {
    display: block;
  }

  .profile-details {
    display: none;
  }

  .profileDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0a2558;
    border: 2px solid #031330;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;
    color: #fff;
  }

  .greet-text {
    margin: auto;
  }
}
