*{
    font-family: 'Poppins', sans-serif;
}

body{
    padding: 2rem;
}

.main-input{
    display: flex;
    flex-direction: column;
}

/* .individual-input{

} */

table{
    border: 1px solid black;
}

td,th{
    border: 1px solid black;
}

.individual-input{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.individual-input label{
    width: 15rem;
    text-align: right;
    margin-right: 10px;
}

.individual-input input{
    width: 14rem;
}