/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*,*:focus,*:hover{
  outline:none;
}

/* Placeholder black */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 0, 0);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(0, 0, 0);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(0, 0, 0);
}

/* Placeholder black */
.sidebar{
  position: fixed;
  height: 100%;
  width: 240px;
  background: #0A2558;
  transition: all 0.5s ease;
}

.sidebar .logo-details{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;

}

.sidebar .logo-details .logo-details-inner{
  display: flex;
  flex-direction: column;  
  text-align: center;
  justify-content: center;
}

#college-name{
  font-size: 15px;
}



.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
.sidebar .nav-links{
  margin-top: 50px;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
  background: #081D45;
}
.sidebar .nav-links li a:hover{
  background: #081D45;
}
.sidebar .nav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.sidebar .nav-links li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}
.sidebar .nav-links .log_out{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-section{
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}

.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav{
  left: 60px;
  width: calc(100% - 60px);
}

.home-section nav .profile-details{
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}
nav .greet-text{
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  font-size: 35px;
  font-weight: 600;
}

nav .greet-text i{
  font-size: 50px;
  margin-right: 5px;
}

nav .profile-details .admin_name{
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}

.home-section .home-content{
  position: relative;
  padding: 100px;
  min-height:100vh;
}

.dropdown-menu{
  min-height: 20vh;
}

.selection{ 
  display: inline-block;
  padding-right: 25px;
  margin-bottom: 25px;
}

.selection-header{
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 50px;
  font-weight: 700;
}

.selection select,
.selection input,
.selection input[type=month]{
  padding: 5px;
  height: 35px;
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.185);
  border-radius: 5px;
  cursor: pointer;
}

/* table style */

input:focus{
  outline: none;
}

table { 
  border-collapse: collapse; 
  border-spacing: 0 
} 

table th{
   padding: 1em; 
   border: 1px solid #999; 
  } 

table td {
    border: 1px solid #999; 
    padding: 0.5rem;
}

table tr:hover {
  background: rgba(112, 94, 94, 0.116);
} 

table caption { 
  text-align: left 
}

table th { 
  text-align: left; 
  background-color: #ccc 
}


.tbox{
  box-sizing: border-box;
  border: none;
}
